.plan__package {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 350px;

  @media (min-width: 600px) {
    width: 223px;
    &:nth-child(2) {
      margin: 0 10px;
    }
  }

  @media (min-width: 1280px) {
    align-items: start;
    width: 25%;
    &:nth-child(2) {
      margin: 0;
    }
  }
}
/*


*/
//BUTTON
.plan__btn {
  margin: 0;
  background-color: transparent;
  border: 1px solid $sec_blue;
  color: $sec_blue;
  text-decoration: none;

  &:hover {
    background-color: $sec_blue;
    color: $pri_white;
  }
}
