.plan__package {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/*


*/
//BUTTON

.plan__btn {
  margin: 0;
  background-color: transparent;
  border: 1px solid $sec_blue;
  &:hover {
    background-color: $sec_blue;
    .plan__btn__link {
      color: $pri_white;
    }
  }
}

.plan__btn__link {
  color: $sec_blue;
  text-decoration: none;
}
