.menu__burger {
  align-items: center;
  position: fixed;
  right: 0px;
  z-index: 100;
  margin: 40px 25px 0 0;
  height: 38px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  span {
    display: block;
    width: 24px;
    height: 3px;
    margin-bottom: 5px;
    background-color: $sec_blue;
    top: 0;
    transition: all 0.5s 0s ease-in-out;
    transform-origin: left;
    opacity: 1;
  }

  @media (min-width: 600px) {
    display: none;
  }
}

.menu__burger.open span {
  background-color: $pri_white;

  &:nth-child(1) {
    transform: rotate(43deg);
    transform-origin: left;
  }
  &:nth-child(2) {
    opacity: 0;
    transform: scale(0, 0);
  }

  &:nth-child(3) {
    transform: rotate(-43deg);
    transform-origin: left;
  }
}
