[class^="navOptions"] {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;
  padding: 0;

  @media (min-width: 600px) {
    flex-direction: row;
  }
}

[class^="navOptions__item"] {
  font-family: $text_font;
  font-size: 20px;
  list-style: none;
  opacity: 70%;
  font-weight: 700;
  padding: 0 75px 32px 75px;

  &:first-child {
    padding-top: 48px;
    margin-top: 90px;
    border-top: 1px solid white;
  }
  a {
    text-decoration: none;

    &:visited {
      color: $pri_white;
      opacity: 70%;
    }
    &:hover,
    &:focus,
    &:active {
      opacity: 70%;
      color: $sec_blue;
    }
  }
  &:hover {
    opacity: 100%;
  }

  @media (min-width: 600px) {
    font-size: 15px;
    color: $sec_blue;
    padding: 0;

    &:first-child {
      padding-top: 0;
      margin-top: 0;
      border-top: none;
    }
    &:nth-child(2) {
      margin: 0 20px;
    }

    &:nth-child(3) {
      margin-right: 40px;
    }
    a:visited {
      color: $sec_blue;
      opacity: 70%;
    }
  }

  @media (min-width: 760px) {
    padding: 0;
    &:first-child {
      padding-top: 0;
      margin-top: 0;
      border-top: none;
    }
    &:nth-child(2) {
      margin: 0 40px;
    }
    &:nth-child(3) {
      margin-right: 85px;
    }
  }
}
