[class*="__title"] {
  font-family: $title_font;
  font-size: 32px;
  font-weight: 400;
  color: $sec_blue;
  text-align: center;
  margin: 0 24px;

  @media (min-width: 600px) {
    font-size: 48px;
  }
  @media (min-width: 1200px) {
    text-align: left;
    margin: 0;
  }
}
