.partners__container {
  background-color: $sec_blue_dark;
}

.partners__logo {
  display: grid;
  padding-top: 80px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  position: relative;
  overflow: hidden;

  &:before {
    @include backgroundCircle(0);
  }
}
