.plan__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;

  @media (min-width: 780px) {
    flex-direction: row;
    justify-content: space-between;
    margin: 0 8% 80px 8%;
  }
}

.pricing__container--supp {
  margin-bottom: 80px;
}
/*


*/
//Title
.pricing__title {
  font-size: 32px;
  margin-top: 48px;
  text-align: center;

  @media (min-width: 780px) {
    font-size: 48px;
  }

  @media (min-width: 1280px) {
    font-size: 56px;
    text-align: left;
    margin-left: 10%;
    margin-top: 80px;
  }
}

.pricing__title--package {
  color: $pri_pink;
  font-size: 24px;
  margin: 48px 0 81px 0;

  @media (min-width: 780px) {
    margin-bottom: 15px;
  }

  @media (min-width: 1280px) {
    margin-top: 72px;
    font-size: 32px;
  }
}
/*


*/
//TEXT
.plan__text {
  display: none;

  @media (min-width: 780px) {
    display: inline;
    text-align: center;
    color: $sec_blue_light;
    margin-top: 0;
  }

  @media (min-width: 1280px) {
    text-align: start;
  }
}
/*


*/
//Price
.pricing__price {
  font-family: $title_font;
  color: $sec_blue;
  font-size: 56px;
  margin: 0;
}
