[class*="__form"] {
  display: flex;
  flex-direction: column;

  @media (min-width: 600px) {
    position: relative;
    flex-direction: row;
    width: 440px;
  }
}
.emailInput[type="email"] {
  color: $sec_blue;
  text-align: left;
  padding-left: 27px;
}

.formDemo__btn {
  padding: 16px 0;
  margin-top: 16px;
  align-self: auto;
  @media (min-width: 600px) {
    margin-right: 0;
    margin-top: 0;
    height: 48px;
    width: 40%;
    position: absolute;
    right: 0;
  }
}

@media (min-width: 600px) {
  .emailInput {
    padding: 0;
    height: 48px;
    width: 100%;
  }
}

[class$="_container--supp"] {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @media (min-width: 1200px) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 10%;
    margin-left: 10%;
  }
}
