[class*="__form"] {
  display: flex;
  flex-direction: column;
}
.emailInput[type="email"] {
  color: $sec_blue;
  text-align: left;
  padding-left: 27px;
}

.form__btn {
  padding: 16px 0;
  width: 320px;
  margin-top: 16px;
}

@media (min-width: 600px) {
  [class*="__form"] {
    position: relative;
    flex-direction: row;
    width: 440px;
  }
  .emailInput {
    padding: 0;
    height: 48px;
    width: 100%;
  }

  .form__btn {
    margin-right: 0;
    margin-top: 0;
    height: 48px;
    width: 40%;
    position: absolute;
    right: 0;
  }
}
