.logo {
  margin: 40px 0 0 25px;
}

.navBar {
  display: grid;
  grid-template-columns: 50% 50%;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    width: 780px;
    height: 780px;
    background-color: $sec_blue;

    border-radius: 50%;
    opacity: 15%;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -70%);

    @media (min-width: 600px) {
      width: 950px;
      height: 950px;
    }

    @media (min-width: 1280px) {
      width: 780px;
      height: 780px;
      top: 0%;
      left: 50%;
      transform: translate(0%, -23%);
    }
  }
}

.navBar__options {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: $sec_blue_dark;
  height: 100vh;
  width: 80vw;

  position: fixed;
  right: 0;
}

.navBar__options {
  transition: 0.5s ease-in-out;
}

.navBar__options.close {
  right: -500px;
}

//tablet

@media (min-width: 600px) {
  .navBar {
    grid-template-columns: 20% 80%;
  }
  .navBar__options {
    flex-direction: row;
    background-color: transparent;
    align-items: flex-start;
    justify-content: end;
    margin-top: 35px;
    position: relative;
    height: auto;
  }

  .navBar__options.close {
    display: none;
  }
}

//desktop

@media (min-width: 1280px) {
  .navBar {
    grid-template-columns: 30% 70%;
  }
  .logo {
    margin: 45px 0 0 165px;
  }
  .navBar__options {
    justify-content: space-between;
    position: relative;
    width: auto;
    margin-top: 40px;
    margin-right: 165px;
  }
}
