.logo {
  margin: 40px 0 0 25px;

  @media (min-width: 1280px) {
    margin: 45px 0 0 165px;
  }
}

.navBar {
  display: grid;
  grid-template-columns: 50% 50%;
  overflow: hidden;

  @media (min-width: 600px) {
    grid-template-columns: 20% 80%;
  }
  @media (min-width: 1280px) {
    grid-template-columns: 30% 70%;
  }
}

.navBar__options {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: $sec_blue_dark;
  height: 100vh;
  width: 80vw;
  z-index: 2;
  position: fixed;
  right: 0;
  transition: 0.5s ease-in-out;

  &.close {
    right: -500px;
  }

  @media (min-width: 600px) {
    flex-direction: row;
    background-color: transparent;
    align-items: flex-start;
    justify-content: end;
    margin-top: 35px;
    position: relative;
    height: auto;
  }

  @media (min-width: 1200px) {
    justify-content: space-between;
    position: relative;
    width: auto;
    margin-top: 40px;
    margin-right: 165px;
    z-index: inherit;
  }
}
