//Fonts
$title_font: "DM Serif Display", serif;
$text_font: "Public Sans", sans-serif;

//Page Color
$page_color: #edf3f8;

//Primary Colors
$pri_pink: #ba4270;
$pri_white: #fbfcfe;

//Secondary Colors
$sec_blue: #36536b;
$sec_blue_dark: #1b262f;
$sec_blue_light: #6c8294;
$sec_pink: #da6d97;
