.logo {
  margin: 40px 0 0 25px;
}

.navBar {
  display: grid;
  grid-template-columns: 50% 50%;
}

.navBar .navBar__options {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-items: center;
  background-color: $sec_blue_dark;
  height: 100vh;
  width: 80vw;

  position: absolute;
  right: 0;
}
