//container
.info__container {
  margin-bottom: 80px;

  @media (min-width: 600px) {
    margin-left: 5%;
    margin-right: 5%;
  }
}

.info__container--supp {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @media (min-width: 1200px) {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}
/*


*/
//Implement

.info__implement__text {
  @include infoText();

  @media (min-width: 1200px) {
    text-align: left;
  }
}

.info__implement__title {
  font-size: 36px;
  margin: 48px 15px 24px 15px;
  text-align: center;

  @media (min-width: 600px) {
    font-size: 48px;
  }

  @media (min-width: 1280px) {
    margin-left: 0;
    text-align: left;
  }
}
/*


*/
//Benefits
.info__benefits {
  @media (min-width: 600px) {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
  }
}

.info__benefits__box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 80px 23px;

  @media (min-width: 600px) {
    margin: 0px 5px 80px 5px;
  }
}

.info__benefits__box__img {
  margin-bottom: 32px;
}

.info__benefits__box__title {
  font-family: $text_font;
  font-weight: bold;
  font-size: 18px;

  @media (min-width: 600px) {
    margin: 0;
  }
  @media (min-width: 1200px) {
    text-align: center;
  }
}

.info__benefits__box__text {
  @include infoText();

  @media (min-width: 600px) {
    max-width: 220px;
  }

  @media (min-width: 1200px) {
    max-width: unset;
    &:nth-of-type(1) {
      margin-left: 20px;
      margin-right: 20px;
    }
  }
}
/*


*/
//uiDesign
.info__uiDesign__text {
  @include infoText();

  @media (min-width: 1200px) {
    text-align: left;
  }
}

/*


*/
//Form Title
.info__form__title {
  margin-bottom: 32px;

  @media (min-width: 600px) {
    width: inherit;
  }

  @media (min-width: 1200px) {
    margin-bottom: 0;
  }
}
